<%= form_for(@mark) do |f| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Note' %><br>
    <%= f.text_field :mark, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Kurztest' %><br>
    <%= f.check_box :shorttest, class: 'form-control checkbox' %>
  </div>
  <div class="form-group">
    <%= f.label 'Gewichtung' %><br>
    <%= f.text_field :weighting, class: 'form-control' %>
  </div>
  <%= f.hidden_field :notenplan_id, class: 'form-control', value: @notenplan_id %>
  <%= f.hidden_field :subject_id, class: 'form-control', value: @subject_id %>
  <div class="actions">
    <%= f.submit 'Note erstellen', class: 'btn btn-primary' %>
  </div>
<% end %>
