<div class="authform">
  <h1>Konto bearbeiten</h1>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label 'Name' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'E-Mail' %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Lass diese Felder leer, wenn du dein Passwort nicht wechseln möchtest.</p>
      <div class="form-group">
        <%= f.label 'Passwort' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Passwort bestätigen' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Hier musst du dein aktuelles Passwort eintragen.</p>
      <div class="form-group">
        <%= f.label 'Aktuelles Passwort' %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Aktualisieren', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Konto löschen</h3>
<p>Wir würden traurig sein, wenn du gehst.</p>
<%= button_to "Konto löschen", registration_path(resource_name), :data => { :confirm => "Sind sie sicher?" }, :method => :delete, :class => 'btn btn-danger', name: "delete" %>
</div>
