<%= form_for(@user_notenplan) do |f| %>
  <% if @user_notenplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_notenplan.errors.count, "error") %> prohibited this user_notenplan from being saved:</h2>

      <ul>
      <% @user_notenplan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'EMail' %><br>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :notenplan_id, class: 'form-control', value: @notenplan_id %>
  </div>
  <div class="form-group">
    <%= f.label 'Admin' %><br>
    <%= f.check_box :admin, class: 'form-control checkbox' %>
  </div>
  <div class="actions">
    <%= f.submit 'Freigabe erstellen', class: 'btn btn-primary' %>
  </div>
<% end %>
