<p id="notice"><%= notice %></p>

<h1>Listing User Notenplans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Notenplan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_notenplans.each do |user_notenplan| %>
      <tr>
        <td><%= user_notenplan.user %></td>
        <td><%= user_notenplan.notenplan %></td>
        <td><%= link_to 'Show', user_notenplan %></td>
        <td><%= link_to 'Edit', edit_user_notenplan_path(user_notenplan) %></td>
        <td><%= link_to 'Destroy', user_notenplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User notenplan', new_user_notenplan_path %>
