<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @subject.number %>
</p>

<%= link_to 'Bearbeiten', edit_subject_path(@subject) %> |
<%= link_to 'Zurück', subjects_path %>
