<h1>Listing Notenplans</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3" class="col-md-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notenplans.each do |notenplan| %>
      <tr>
        <td><%= notenplan.name %></td>
        <td><%= notenplan.description %></td>
        <td><%= link_to 'Anzeigen', notenplan, class: 'btn btn-default' %></td>
        <td><%= link_to 'Bearbeiten', edit_notenplan_path(notenplan), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Löschen', notenplan, method: :delete, data: { confirm: 'Sind sie sicher?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notenplan', new_notenplan_path %>
