<% @admin = admin_access(@notenplan) %>
<p>
  <strong>Name:</strong>
  <%= @notenplan.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @notenplan.description %>
</p>
<% @subjects.each do |subject| %>

  <p>Fach: <%= subject[:subject].name %>
  <% total = 0.0 %>
  <% counter = 0 %>
  <% subject[:marks].each do |mark| %>
    <% if (!mark.mark.nil?) %>
      <%= mark.mark %>
      <%= link_to 'Löschen', mark, method: :delete, data: { confirm: 'Sind sie sicher?' } if @admin %>
      <% total += mark.mark %>
      <% counter += 1 %>
    <% end %>
  <% end %>
  <% if counter > 0 %>
    <b>Durchschnitt: </b><%= total / counter %>
  <% end %>
  <%= link_to 'Neue Note', new_mark_path(notenplan_id: @notenplan.id, subject_id: subject[:subject].id) if @admin %></p>
<% end %>
<% if @admin %>
  <%= link_to 'Fach hinzufügen', new_subject_path(notenplan: @notenplan) %> |
  <%= link_to 'User berechtigen', new_user_notenplan_path(notenplan_id: @notenplan) %> |
  <%= link_to 'Bearbeiten', edit_notenplan_path(@notenplan) %> |
<% end %>
<%= link_to 'Zurück', notenplans_path %>
