<% @subjects.each do |subject| %>

  <p>Name: <%= subject[:subject].name %></p>
  <% subject[:marks].each do |mark| %>
    <%= mark.mark %>
  <% end %>
  <%= link_to 'Neue Note', new_mark_path(notenplan_id: @notenplan.id, subject_id: subject[:subject].id) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @notenplan.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @notenplan.description %>
</p>

<%= link_to 'Bearbeiten', edit_notenplan_path(@notenplan) %> |
<%= link_to 'Zurück', notenplans_path %>
