<% @admin = admin_access(@notenplan) %>

<h1><%= @notenplan.name %></h1>
<h4><i><%= @notenplan.description %></i></h4><br>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Fach</th>
      <th>Noten</th>
      <th>Kurztests</th>
      <th>Durchschnitt</th>
      <% if @admin %>
      <th>Note hinzufügen</th>
      <% end %>
    </tr>
  </thead>

<% subject_counter = 0 %>
<% total_marks = 0.0 %>
<% @subjects.each do |subject| %>
  <tbody>
    <tr>
      <td><%= subject[:subject].name %></td>
      <% total = 0.0 %>
      <% counter = 0 %>
      <% shorttests = [] %>
      <td>
      <% subject[:marks].each do |mark| %>
        <% if (!mark.mark.nil? && !mark.shorttest) %>
          <p class="btn" data-toggle="tooltip" data-placement="top" title="Gewichtung: <%= mark.weighting %>"><%= mark.mark %></p>
          <% if @admin %>
            <%= link_to mark, method: :delete, data: { confirm: 'Sind sie sicher?' }, class: 'btn btn-danger btn-sm delete_note' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
          <% total += mark.mark * mark.weighting %>
          <% counter += mark.weighting %>
        <% elsif !mark.mark.nil? %>
          <% shorttests << mark %>
        <% end %>
      <% end %>
      </td>
      <td>
        <% total_shorttests = 0.0 %>
        <% shorttest_counter = 0 %>
        <% shorttests.each do |shorttest| %>
          <p class="btn" data-toggle="tooltip" data-placement="top" title="Gewichtung: <%= shorttest.weighting %>"><%= shorttest.mark %></p>
          <% total_shorttests += shorttest.mark * shorttest.weighting %>
          <% shorttest_counter += shorttest.weighting %>
          <% if @admin %>
            <%= link_to shorttest, method: :delete, data: { confirm: 'Sind sie sicher?' }, class: 'btn btn-danger btn-sm delete_note' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        <% end %>
        <% if shorttests.count > 0 %>
          <% counter += 1 %>
          <% total += total_shorttests / shorttest_counter %>
        <% end %>
      </td>
      <td>
      <% if counter > 0 %>
        <b><%= number_with_precision(total / counter, :precision => 2) %></b>
        <% total_marks += total / counter %>
        <% subject_counter += 1 %>
      <% end %>
      </td>
      <% if @admin %>
      <td><%= link_to 'Neue Note', new_mark_path(notenplan_id: @notenplan.id, subject_id: subject[:subject].id), class: 'btn btn-primary btn-sm' %></td>
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>

<p style="text-align: right; font-size: 16px;">Gesamtdurchschnitt: <b><%= number_with_precision(total_marks / subject_counter, :precision => 2) if subject_counter > 0 %></b></p>
<br><br>
<% if @admin %>
  <%= link_to 'Fach hinzufügen', new_subject_path(notenplan: @notenplan), class: 'btn btn-primary' %>
  <%= link_to 'User berechtigen', new_user_notenplan_path(notenplan_id: @notenplan), class: 'btn btn-primary' %>
<% end %>
<br><br>
<%= link_to 'Zurück', notenplans_path, class: 'btn btn-default' %>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
