<% @admin = admin_access(@notenplan) %>

<h1><%= @notenplan.name %></h1>
<h4><i><%= @notenplan.description %></i></h4><br>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Fach</th>
      <th>Noten</th>
      <th>Durchschnitt</th>
      <% if @admin %>
      <th>Note hinzufügen</th>
      <% end %>
    </tr>
  </thead>

<% @subjects.each do |subject| %>
  <tbody>
    <tr>
      <td><%= subject[:subject].name %></td>
      <% total = 0.0 %>
      <% counter = 0 %>
      <td>
      <% subject[:marks].each do |mark| %>
        <% if (!mark.mark.nil?) %>
          <%= mark.mark %>
          <% if @admin %>
          <%= link_to mark, method: :delete, data: { confirm: 'Sind sie sicher?' }, class: 'btn btn-danger btn-sm delete_note' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
          <% end %>
          <% total += mark.mark %>
          <% counter += 1 %>
        <% end %>
      <% end %>
      </td>
      <td>
      <% if counter > 0 %>
        <b><%= total / counter %></b>
      <% end %>
      </td>
      <% if @admin %>
      <td><%= link_to 'Neue Note', new_mark_path(notenplan_id: @notenplan.id, subject_id: subject[:subject].id), class: 'btn btn-primary btn-sm' %></td>
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>

<p style="text-align: right; font-size: 16px;">Gesamtdurchschnitt: <b>5.5</b></p>
<br><br>
<% if @admin %>
  <%= link_to 'Fach hinzufügen', new_subject_path(notenplan: @notenplan), class: 'btn btn-primary' %>
  <%= link_to 'User berechtigen', new_user_notenplan_path(notenplan_id: @notenplan), class: 'btn btn-primary' %>
<% end %>
<br><br>
<%= link_to 'Zurück', notenplans_path, class: 'btn btn-default' %>
