

<% if user_signed_in? %>
  <li><%= link_to 'Benutzer', users_path %></li>
  <li><%= link_to 'Konto bearbeiten', edit_user_registration_path %></li>
  <li><%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Anmelden', new_user_session_path %></li>
  <li><%= link_to 'Registrieren', new_user_registration_path %></li>
<% end %>
